body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #4d5ae5;
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #4d5ae5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/** ==============HEADER================ */
.header {
}
.header-navigation {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo span {
  color: #2e2f42;
}
.header-menu-list {
}
.header-menu-item {
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-address {
}
.header-contacts-list {
}
.header-contacts-item {
}

.header-contacts-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/** ================================== */
/** ==============HERO================ */
.hero {
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  /*TODO REMOVE background-color after created wrapper */
  background-color: #2e2f42;
}
.hero-order-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  /* REMOVE background-color after created wrapper */
  background-color: #4d5ae5;
}
/** ================================== */
/** ==============FEATURES================ */
.features {
}
.features-list {
}
.features-item {
}

.features-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/** ================================== */
/** ==============TEAM================ */
.team {
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list {
}
.team-list-item {
}
.team-list-avatar {
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-list-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
/** ================================== */
/** ==============PORTFOLIO================ */
.portfolio {
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-list-item-image {
}
.portfolio-list-item-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-list-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/** ================================== */
/** ==============FOOTER================ */
.footer {
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo span {
  color: #f4f4fd;
  /*TODO REMOVE background-color after created wrapper */
  background-color: #2e2f42;
}
.footer-company-slogan {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  /*TODO REMOVE background-color after created wrapper */
  background-color: #2e2f42;
}
